doctype html
html
  head
    meta(charset='utf-8')
    title Adventures In Coding While Brown
    meta(name='description', content='blog')
    meta(name='author', content='GeneralMeow')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
  block content
    body
