<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Adventures In Coding While Brown</title>
    <meta name="description" content="blog">
    <meta name="author" content="GeneralMeow">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--if lt IE 9script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')-->
</head>
<body>
    <header>
        <div class="centering">
            <div class="logo">
                <p>Adventures in Coding While Brown</p>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/views/about">About</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/rcbrown84/" target="_blank">LinkedIn</a>
                    </li>
                    <li>
                        <a href="https://www.github.com/generalmeow" target="_blank">Github</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/_GeneralMeow_" target="_blank">Twitter</a>
                    </li>
                    <li>
                        <a href="/views/portfolio">Portfolio</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="page">
            <div class="centering cf">
                <ul class="breadcrums">
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
            <div class="centering">
                <div class="main-layout">
                    <h1>RC's Portfolio</h1>
                    <ul class="posts">
                        <li class="post">
                            <h1>Wrecka Stow Record Store
                                <br>
                                <br>
                                <a href="http://possiblegazer-wreckastow.herokuapp.com">Live link to Wrecka Stow</a>
                            </h1>
                            <p>Wrecka Stow is a simple content management system that allows users to add, delete, or update [records]
                                books. Books entered in the system can be viewed in a listing, or searched for using basic searches
                                (title, author, genre). This project was a play on a bookstore but using records/musicians that
                                are relevant to the aesthetic we were going for when creating this project. Here's a link to
                                the Github repo: https://github.com/breyana/possible-gazer-bookstore</p>
                            <img class="portoneimage"
                                src="http://i66.tinypic.com/35i0fiv.png" />
                            <img class="portoneimage" src="http://i68.tinypic.com/1zyg3fs.png" />
                            <img class="portoneimage" src="http://i67.tinypic.com/vfzi1e.png" />
                        </li>
                        <li class="post">
                            <h1>Text A Bae
                                <br>
                                <br>
                                <a href="https://text-a-bae-app.herokuapp.com/views/index.html">Live link to Text A Bae</a>
                            </h1>
                            <p>Text a bae is a program where you can send SMS messages via the web browser Here's a link to the
                                Github repo: https://github.com/GeneralMeow/textABaeApp</p>
                            <img class="portoneimage" src="http://i63.tinypic.com/2rqn5lg.png"
                            />
                        </li>
                        <li class="post">
                            <h1 class="headerspace">Open Source Software Contributions
                                <li class="post">
                                    <h2>Ancient Beasts
                                        <p>Ancient Beast is a turn based strategy indie game project, played online against other
                                            people, featuring a wide variety of creatures to acquire and items to equip onto,
                                            putting them to use in order to defeat your opponents. This project was carefully
                                            designed to be easy to learn, fun to play and hard to master.</p>
                                    </h2>
                                    <img class="portoneimage" src="http://i65.tinypic.com/23lb2fq.png" />
                                </li>
                                <li class="post">
                                    <h2>Done.js
                                        <p>DoneJS is an open source JavaScript framework that makes it easy to build high performance,
                                            real-time web and mobile applications.</p>
                                    </h2>
                                    <img class="portoneimage" src="http://i64.tinypic.com/wi5vmp.png" />
                                </li>
                            </h1>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="centering">
            <div class="row">
                <div class="col-1">
                    <ul class="links">
                        <li>
                            <a href="#">Stuff Here</a>
                        </li>
                        <li>
                            <a href="#">More Stuff</a>
                        </li>
                        <li>
                            <a href="#">More Links</a>
                        </li>
                    </ul>
                </div>
                <div class="col-2">
                    <ul class="links">
                        <li>
                            <a href="#">Previous Posts</a>
                        </li>
                        <li>
                            <a href="#">Blah blah</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>